
<!DOCTYPE html>
<html class="h-100" lang="en"> 
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width,initial-scale=1">
        <!--<link rel="icon" type="image/png" sizes="16x16" href="../../assets/images/favicon.png">-->
        <link href="~/assets/css/style.css" rel="stylesheet">
        <link href="~/assets/plugins/sweetalert/css/sweetalert.css" rel="stylesheet"> 
        <script src="~/assets/plugins/sweetalert/js/sweetalert.min.js"></script> 
        <title>Change And Error Management System</title> 
    </head> 
    <body class="h-100"> 
        <div class="login-form-bg h-100">
            <div class="container h-100">
                <div class="row justify-content-center h-100">
                    <div class="col-xl-6">
                        <div class="form-input-content">
                            <div class="card login-form mb-0">
                                <div class="card-body pt-5">
                                    <h2 class="text-center">Login</h2>
                                    <h6 class="text-center">Enter you email address and password</h6> 
                                    <form class="mt-5 mb-5 login-input" id="widgetu12902" method="post" enctype="multipart/form-data">
                                        @Html.AntiForgeryToken()
                                        <div class="form-group">
                                            <input type="email" onfocusout="check()" placeholder="Email" id="email" onkeyup="doClean(this)" name="email" value="@ViewBag.email" maxlength="50" class="form-control">
                                        </div>


                                        <div class="form-group" id="sc" style="display:none">
                                            <select class="form-control" id="Service_company" name="Service_company">
                                                <option value="">Select Service company</option>
                                            </select>
                                        </div>











                                        @*<div class="card">
                                            <div class="card-body">
                                                <div class="bootstrap-modal">*@
                                        @*<button  style="display:none;"  id="showModal" type="button" class="btn btn-info btn-lg" data-toggle="modal" data-target="#basicModal">Open Modal</button>
                                                    <div class="modal fade" id="basicModal">
                                                        <div class="modal-dialog" role="document">
                                                            <div class="modal-content">
                                                                <div class="modal-header">
                                                                    <h5 class="modal-title">Modal title yyy</h5>
                                                                    <button type="button" class="close" data-dismiss="modal">
                                                                        <span>&times;</span>
                                                                    </button>
                                                                </div>
                                                                <div class="modal-body">Modal body text goes here.</div>
                                                                <div class="modal-footer">
                                                                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                                                                    <button type="button" class="btn btn-primary">Save changes</button>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>*@
                                                @*</div>
                                            </div>
                                        </div>*@










                                        <div class="form-group">
                                            <input type="password" class="form-control" placeholder="Password" id="password" onkeyup="doClean(this)" name="password" value="" maxlength="50">
                                        </div>


                                        <div class="form-group">
                                            <button type="button" onclick="forgotIt()" class="btn mb-1  btn-primary">Forgot Password?</button>
                                            <button type="button" onclick="goReg()" class="btn mb-1  btn-primary">Signup</button>
                                            <button type="button" onclick="checkAndGo()" class="btn mb-1 btn-primary">Login</button>
                                        </div>
                                        <input type="hidden" id="forgot" name="forgot">
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div> 
        <script src="~/assets/plugins/common/common.min.js"></script>
        <script src="~/assets/js/custom.min.js"></script>
        <script src="~/assets/js/settings.js"></script>
        <script src="~/assets/js/gleek.js"></script>
        <script src="~/assets/js/styleSwitcher.js"></script> 
        <script>
            var checking = false;
            var attemptLogin = false;
            function msg(txt) {
                sweetAlert("...", txt, "info");
            }





            function check() {

                //document.getElementById("showModal").click();
               //$('#basicModal').modal('show');
                //var basicModal = document.getElementById("basicModal");
                var sc = document.getElementById("sc");
                sc.style.display = "none";
                checking = true;
              //  basicModal.style.display = "block";
                var Service_company = document.getElementById("Service_company");
                for (var i = Service_company.length - 1 ; i >= 0; i--) {
                    Service_company.remove(i);
                }



                var email = document.getElementById("email").value.trim();
                if (email.length > 0) {

                    var xhttp = new XMLHttpRequest();
                    xhttp.onreadystatechange = function () {
                        if (this.readyState == 4 && this.status == 200) {

                           // $('#basicModal').modal('hide');
                            //$('#basicModal').hide();
                            //document.getElementById("showModal").click();
                            //document.getElementById("email").value = "xxx";
                           // basicModal.style.display = "none"; 
                            checking = false; 
                            var data = xhttp.responseText;
                            if (data.trim().length > 2)
                            {
                                var dataList = JSON.parse(data);
                                //alert(data);
                                // alert(dataList.length);
                                if (dataList.length > 1)
                                {
                                    var option = document.createElement("option");
                                    option.text = "Select Service company";
                                    Service_company.add(option);
                                    for (var i = 0; i < dataList.length; i++) {
                                        // alert(dataList[i].Id);
                                        // alert(dataList[i].Company);
                                        var option = document.createElement("option");
                                        option.value = dataList[i].Id;
                                        option.text = dataList[i].Company;
                                        Service_company.add(option);
                                        //console.log(dataList[i]);
                                    }
                                    sc.style.display = "block";
                                    msg("Email validation complete, please continue login"); 
                                }
                            }

                            /*

[{"Id":6,"Company":"Self"},{"Id":5,"Company":"sphinxsolaries sphinxsolaries sphinxsolaries sphinxsolaries1"}]

                            */

                            //var index = 1;
                            //var section = "";
                            //var title = "";
                            //var record = "";
                            //var informationType = "";
                            //while (document.getElementById("formId" + index) != null) {
                            //    section = document.getElementById("section" + index).value;
                            //    title = document.getElementById("title" + index).value;
                            //    if (data.indexOf(section + "sphinxcol" + title + "sphinxcol") > -1) {
                            //        record = ("dd" + data).split(section + "sphinxcol" + title + "sphinxcol")[1].split("sphinxrow")[0];
                            //        informationType = document.getElementById("infotype" + index).value
                            //        if (informationType == "1" || informationType == "9" || informationType == "3" || informationType == "4" || informationType == "5" || informationType == "8") {
                            //            if (document.getElementById("xdetail" + index) != null) {
                            //                document.getElementById("xdetail" + index).value = record;
                            //            }
                            //            else {
                            //                document.getElementById("detail" + index).value = record;
                            //            }
                            //        }
                            //        if (informationType == "2") {
                            //            document.getElementById("xdetail" + index).value = record;
                            //        }
                            //    }
                            //    index++;
                            //} 
                        }
                    };
                    var strLocation = location.toString().toLowerCase();
                    //alert(strLocation.substring(0, strLocation.toLowerCase().indexOf("admin")));
                    xhttp.open("GET", strLocation.substring(0, strLocation.toLowerCase().indexOf("admin")) + "/admin/view_it_Service_Company_no_secure?email=" + email, true);
                    xhttp.send();
                }


            }





            function doClean(text) { 
              text.value = text.value.split("'").join("");

              text.value = text.value.split(">").join("");

              text.value = text.value.split("<").join("");

              text.value = text.value.split("~").join("");

              text.value = text.value.split("&").join("");

              text.value = text.value.split("\\").join("");

              text.value = text.value.split("_").join("");

              text.value = text.value.split("%").join("");

              text.value = text.value.split("\"").join("");

            } 
            function goReg() { 
                var path = window.location.href; 
                if (path.indexOf("Login") > -1) { 
                    path = path.split("Login/").join("Login"); 
                    path = path.split("Login").join("Register"); 
                } 
                else if (path.toLowerCase().indexOf("login") > -1) {
                    path = path.split("login/").join("login"); 
                    path = path.split("login").join("Register"); 
                } 
                else if (path.indexOf("login") == -1  &&  path.indexOf("Login") == -1) { 
                    path = path.split("login/") + "/Register";
                } 
                location = path; 
            } 
            function forgotIt() { 
                doClean(document.getElementById("email")); 
                doClean(document.getElementById("password")); 
                if (document.getElementById("email").value.trim().length == 0) { 
                    msg("Please enter email"); 
                    return; 
                }
                if (checking) {
                    attemptLogin = true;
                    msg("Email validation ongoing, please wait for message notifying you if it's completion, then continue login.");
                    return;
                }
                if (document.getElementById("sc").style.display != "none" && document.getElementById("Service_company").value == "Select Service company") {
                    alert("Please Select Service company");
                    return;
                }
                document.getElementById("forgot").value = "xxs"; 
                document.getElementById("widgetu12902").submit(); 
            } 
            function checkAndGo() { 
                doClean(document.getElementById("email")); 
                doClean(document.getElementById("password")); 
                if (document.getElementById("email").value.trim().length == 0) { 
                    msg("Please enter email"); 
                    return; 
                } 
                if (document.getElementById("password").value.trim().length == 0) { 
                    msg("Please enter password"); 
                    return; 
                }
                if (checking) {
                    attemptLogin = true;
                    msg("Email validation ongoing, please wait for message notifying you if it's completion, then continue login.");
                    return;
                }
                if (document.getElementById("sc").style.display != "none" && document.getElementById("Service_company").value == "Select Service company") {
                    alert("Please Select Service company");
                    return;
                }

                document.getElementById("widgetu12902").submit(); 
            } 
            var statusMessage = "@ViewBag.status" || false; 
            if (statusMessage != false && statusMessage.length > 0) { 
                msg(statusMessage); 
            } 
        </script> 
    </body> 
</html>